<div>
  <div ng-show="isVerifying == false">
    <input id="cb-set-username" type="text" ng-model="tag.username">
    <br>
    <input type="text" ng-model="tag.title">
    <br>
    <button ng-click="add(tag)">Add</button>
    <br>
  </div>
  <div ng-show="isVerifying">
    <span id="cb-text">{{tag.title}}</span>
    <br>
    <textarea id="cb-set-signature" ng-model="signature"></textarea>
    <button ng-click="verify(tag, signature)">Verify</button>
    <br>

  </div>
</div>
