<div class="col-md-6">
  <h1>Write an article</h1>
  <hr>
  <div class="form-group" ng-show="isVerifying == false">
    <label>Add your username:</label>
    <input class="form-control" id="cb-set-username" type="text" ng-model="article.username">
    <br>
    <label>Add a title:</label>
    <input class="form-control" type="text" ng-model="article.title">
    <br>
    <label>Write your article:</label>
    <trix-editor angular-trix ng-model="article.text" id="article-editor"  class="trix-content"></trix-editor>
    <br>
    <label>Add tags:</label>
    <tags-input  ng-model="tags">
    <auto-complete  source="loadTags($query)"></auto-complete>
    </tags-input>
    <br>    
    <button class="btn btn-default" ng-click="addArticle(article, tags)">Submit</button>
    <br>
  </div>
  <div class="form-group" ng-show="isVerifying">
    <label>Your username:</label>
    <span class="form-control" id="cb-username">{{article.username}}</span>
    <br>
    <label>Text to sign:</label>
    <span id="cb-text">{{article_to_sign}}</span>
    <br>
    <label>Add your signature:</label>
    <textarea class="form-control" id="cb-set-signature" ng-model="signature"></textarea>
    <button class="btn btn-default" ng-click="verify(article, article_to_sign, signature)">Verify</button>
    <br>
  </div>
</div>
