<div class="col-md-8"> 
  <h1 class="page-header">
    Users
  </h1>


  <div ng-repeat="user in users">
    <h3><a ng-href="#/users/{{user.id}}">{{user.username}}</a></h3>
    <button ng-click="delete(user)">delete</button>
  </div>
  <ul uib-pagination items-per-page="perPage" total-items="totalUsers" ng-model="currentPage" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>

</div>

<div class="col-md-4"> 
  <div ng-show="isDeleting">
    <div class="well form-group">
      <h4> Sign to delete user {{selectedUser.username}}</h4>
      <label>Text:</label>
      <span id="cb-text">{{selectedUser.id}}-delete</span>
      <br>
      <label>Add your username:</label>
      <input class="form-control" id="cb-set-username" type="text" ng-model="username">
      <br>
      <label>Add your signature:</label>      
      <textarea class="form-control" id="cb-set-signature" ng-model="signature"></textarea>
      <button class="btn btn-default" ng-click="verify(selectedUser, username, signature)">Verify</button>
      <br>
    </div>
  </div>

</div>
