
<!-- Blog Entries Column -->
<div class="col-md-8">

  <h1 class="page-header">
    Cryptobureau
  </h1>

  <div ng-repeat="article in articles">
    <h2>
      <a ng-href="#/articles/{{article.id}}">{{article.title}}</a>
    </h2>
    <p class="lead">
      by <a ng-href="#/users/{{article.user_id}}">{{article.username}}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span>{{article.date | date:'yyyy-MM-dd hh:mm'}}</p>
    <hr>
    <p class="trix-content" ng-bind-html="article.text"></p>
    <a class="btn btn-primary" ng-href="#/articles/{{article.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>

  </div>

  <!-- Pagination -->
  <ul uib-pagination items-per-page="2" total-items="totalArticles" ng-model="currentPage" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
  
</div>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">

  <!-- Blog Search Well -->
  <div class="well">
    <h4>Blog Search by Tags</h4>
    <tags-input  ng-model="tags">
      <auto-complete  source="loadTags($query)"></auto-complete>
    </tags-input>
    <button ng-click="searchArticlesByTags(tags)">Search</button>
    <!-- /.input-group -->
  </div>

  <!-- /.row -->
  </div>

  
</div>





