<div class="col-md-8">
  <h1>Register</h1>
  <div class="form-group" ng-show="isVerifying == false">
    <h4> Add your information </h4>
    <label>Add your username:</label>
    <input class="form-control" id="cb-set-username" type="text" ng-model="user.username">
    <br>
    <label>Add your public key:</label>    
    <textarea class="form-control" id="cb-set-public-key" ng-model="user.public_key"></textarea>
    <br>
    <button class="btn btn-default" ng-click="register(user)">Register</button>
    <br>
  </div>
  <div class="form-group" ng-show="isVerifying">
    <h4> Sign to register </h4>
    <label>Your username:</label>
    <span id="cb-username">{{user.username}}</span>
    <br>
    <label>Text to sign:</label>
    <span id="cb-text">{{user.username}}</span>
    <br>
    <label>Add your signature:</label>
    <textarea class="form-control" id="cb-set-signature" ng-model="signature"></textarea>
    <button class="btn btn-default" ng-click="verify(user, signature)">Verify</button>
    <br>

  </div>
</div>
