<!-- Blog Post Content Column -->
<div class="col-lg-8">

  <!-- Blog Post -->

  <!-- Title -->
  <h1>{{article.title}}</h1>
  <a href="/articles/{{article.id}}/show.cb">server side link</a>
  <!-- Author -->
  <p class="lead">
  by  <a id="cb-username" ng-href="#/users/{{article.user_id}}">{{article.username}}</a>
  </p>
  <hr>

  <!-- Date/Time -->
  <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.date | date:'yyyy-MM-dd hh:mm'}}</p>


  <!-- Preview Image -->

  <hr>

  <!-- Post Content -->
  <p class="trix-content" ng-bind-html="article.text"></p>
  <hr>

  <!-- Blog Comments -->


  <hr>


  <!-- Tags -->
  <div class="media">
    Tags:
    <span ng-repeat="tag in article.tags">
      <a ng-href="#/tags/{{tag}}">{{tag}}</a>
    </span>
  </div>
  <hr>
  <span style="white-space:pre-wrap;display:none;"  id="cb-public-key">{{article.public_key}}</span>
  <br>
  <span style="white-space:pre-wrap;display:none;"  id="cb-signature">{{article.signature}}</span>
  <br>
  <span style="white-space:pre-wrap;display:none;"  id="cb-text">{{article.signed_text}}</span>
  

</div>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
  <div class="well">
    <div ng-show="isDeleting == false">
      <button class="btn btn-default" ng-click="delete()">Delete</button>
    </div>
    <div  class="form-group"  ng-show="isDeleting">
      <h4> Sign the deletion </h4>
      <label>Text:</label>
      <span id="cb-text">{{article.id}}-delete</span>
      <br>
      <label>Add your username:</label>      
      <input class="form-control" id="cb-set-username" type="text" ng-model="username">
      <br>
      <label>Add your signature:</label>      
      <textarea class="form-control" id="cb-set-signature" ng-model="signature"></textarea>
      <button class="btn btn-default" ng-click="verify(article, username, signature)">Verify</button>
      <br>
    </div>
  </div>
</div>

