<div class="col-md-8">
  <h1 class="page-header">
    {{user.username}}
  </h1>

  <div ng-repeat="article in articles">
    <h2>
      <a ng-href="#/articles/{{article.id}}">{{article.title}}</a>
    </h2>
    <p class="lead">
      by <a ng-href="#/users/{{article.user_id}}">{{article.username}}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span>{{article.date | date:'yyyy-MM-dd hh:mm'}}</p>
    <hr>
    <p class="trix-content" ng-bind-html="article.text"></p>
    <a class="btn btn-primary" ng-href="#/articles/{{article.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>

  </div>

  <!-- Pagination -->
  <ul uib-pagination items-per-page="2" total-items="totalArticles" ng-model="currentPage" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>

 </div>
 <div class="col-md-4">
  <div class="well" ng-show="isDeleting == false">  
       <button class="btn btn-default" ng-click="delete()">Delete</button>
  </div>
  <div class="well form-group" ng-show="isDeleting">
    <label>Text to sign:</label>
    <span id="cb-text">{{user.id}}</span>
    <br>
    <label>Add your username:</label>
    <input class="form-control" id="cb-set-username" type="text" ng-model="username">
    <br>
    <label>Add your signature:</label>
    <textarea class="form-control"  id="cb-set-signature" ng-model="signature"></textarea>
    <button class="btn btn-default" ng-click="verify(user, username, signature)">Verify</button>
    <br>
  </div>


</div>
