@import url("node_modules/trix/dist/trix.css");
@import url("node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("node_modules/ng-tags-input/build/ng-tags-input.min.css");
@import url("node_modules/angular-toastr/dist/angular-toastr.min.css");

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}


#cb-set-signature{
  height:200px;
}

#cb-set-public-key{
  height:200px;
}

#article-editor{
  height:300px;
}

